# **ETL Pipeline for Gaming Mice Analysis**

## **1. Extract**

We need to import the necessary libraries and modules before extraction using BeautifulSoup. Given that the dataset is not lengthy or wide, it is safe to unrestrict the maximum no. of rows and columns shown in the DataFrame (df).

This will be helpful to investigate the dataset as a whole without hidden rows or columns.

In [1]:
from bs4 import BeautifulSoup
from datetime import datetime
from sqlalchemy import create_engine
import requests
import psycopg2
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

First, we will gather the base url (page 1) and the rest of the pages (page 2 to 6) to request for the products and their respective features. Each page has around 30-40 gaming mice products.

Note that the url for pages 2 to 6 are almost identical to the base url page 1, with '/Page-{}' being the only difference.

In [2]:
#URL for page 1 (without the "/Page-{}" suffix)
base_url_page1 = "https://www.newegg.com/global/sg-en/Gaming-Mice/SubCategory/ID-3527"

#Base URL for pages 2 to 6
base_url_other_pages = "https://www.newegg.com/global/sg-en/Gaming-Mice/SubCategory/ID-3527/Page-{}"

#Lists for storing data
name_list = []
price_list = []
rating_list = []
brand_list = []
dpi_list = []
model_number_list = []
hand_orientation_list = []

For each page, we extract the name, price, rating, brand, DPI, model number, hand orientation of every product. These features are appended into their respective lists.

In [3]:
#Loop through pages 1 to 6
for page_num in range(1, 7):
    if page_num == 1:
        url = base_url_page1
    else:
        url = base_url_other_pages.format(page_num)

    #Requesting url within for loop
    response = requests.get(url)
    
    #Parse the content with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
        
    #Extract product names
    product_names = soup.find_all('a', class_='item-title')
    for name in product_names:
        name_list.append(name.text)

    #Extract prices. We also concatanate the main price and cents into one full price
    price_containers = soup.find_all('li', class_='price-current')
    for price_container in price_containers:
        main_price = price_container.find('strong').text
        cents = price_container.find('sup').text
        full_price = main_price + cents
        price_list.append(full_price)

    #Extract product ratings. Each rating is in the second position (1st index) in the aria label.
    rating_containers = soup.find_all('a', class_='item-rating')
    for rating_container in rating_containers:
        i_class_tag = rating_container.find('i')
        aria_label = i_class_tag.get('aria-label')
        rating = aria_label.split(' ')[1].strip()
        rating_list.append(rating)

    #Extract brand
    brand_containers = soup.find_all('a', class_='item-brand')
    for brand_container in brand_containers:
        img_src_tag = brand_container.find('img')
        brand = img_src_tag.get('title')
        brand_list.append(brand)

    #Extract maximum dpi
    item_containers = soup.find_all('ul', class_='item-features')
    for item_container in item_containers:
        list_items = item_container.find_all('li') #There are multiple li items in class item_features, including dpi, model no and hand orientation
        for item in list_items:
            if 'Maximum dpi:' in item.text:
                maximum_dpi_text = item.text
                maximum_dpi_number = maximum_dpi_text.split(':')[-1].strip() #Split text by colon :, then extract the last part which is the max dpi
                dpi_list.append(maximum_dpi_number)

    #Extract Model No.
    for item_container in item_containers:
        list_items = item_container.find_all('li')
        for item in list_items:
            if 'Model #:' in item.text:
                model_number_text = item.text
                model_number = model_number_text.split(':')[-1].strip() #Split text by colon :, then extract the last part which is the model no.
                model_number_list.append(model_number)
            
    #Extract Hand Orientation
    for item_container in item_containers:
        list_items = item_container.find_all('li')
        for item in list_items:
            if 'Hand Orientation:' in item.text:
                hand_orientation_text = item.text
                hand_orientation = hand_orientation_text.split(':')[-1].strip() #Split text by colon :, then extract the last part which is the hand orientation
                hand_orientation_list.append(hand_orientation)

## **2. Transform**

We need to find out whether every feature is extracted properly. To do that, we print the length of each list. We find that rating_list, brand_list, dpi_list, hand_orientation are shorter than name_list, price_list and model_number_list.

We will need to assign these missing elements as NaN in the DataFrame.

In [4]:
print(len(name_list))
print(len(price_list))
print(len(rating_list))
print(len(brand_list))
print(len(dpi_list))
print(len(model_number_list))
print(len(hand_orientation_list))

216
216
111
93
131
216
85

We create dictionaries out of the lists that have missing elements. To match the rating, brand, DPI, model number, hand orientation to the correct product, the lists are first merged into tuples and then appended to their dictionaries.

In [5]:
#Create tuples made up of (name, rating) / (name, brand) / (name, dpi) / (name, hand_orientation)
rating_tuple = zip(name_list, rating_list)
brand_tuple = zip(name_list, brand_list)
dpi_tuple = zip(name_list, dpi_list)
hand_orientation_tuple = zip(name_list, hand_orientation_list)

#Create empty dicts
rating_dict = {}
brand_dict = {}
dpi_dict = {}
hand_orientation_dict = {}

#Create dicts to match rating/brand/dpi/hand_orientation to the respective product
for name, rating in rating_tuple:
    rating_dict[name] = rating
for name, brand in brand_tuple:
    brand_dict[name] = brand
for name, dpi in dpi_tuple:
    dpi_dict[name] = dpi
for name, hand_orientation in hand_orientation_tuple:
    hand_orientation_dict[name] = hand_orientation

We loop over each index in the name_list (used as the unique identifier) and append the respective feature if it is available. If the product does not have rating/brand/dpi/hand_orientation, we assign a NaN.

The product_dict is appended into an empty product list for loading into pandas later, making it a list of dictionaries.

In [6]:
#Create an empty products list
products = []

#Loop over each index in the name_list. Assign with a NaN if the product does not have rating/brand/dpi/hand_orientation
for i in range(len(name_list)):
    product_dict = {
        'name': name_list[i],
        'price': price_list[i],
        'rating': rating_dict.get(name_list[i], np.nan),  # Get rating or NaN if not found
        'brand': brand_dict.get(name_list[i], np.nan),    # Get brand or NaN if not found
        'dpi': dpi_dict.get(name_list[i], np.nan),        # Get dpi or NaN if not found
        'model': model_number_list[i],
        'hand_orientation': hand_orientation_dict.get(name_list[i], np.nan) # Get hand orientation or NaN if not found
    }

    products.append(product_dict)

In the products df, we create a scrape_datetime column to keep track of the time recorded and observe any trends in the features with subsequent scrapes.

In [7]:
df = pd.DataFrame(products)

#Create a scrape_datetime column. down to seconds only
df['scrape_datetime'] = datetime.now()
df['scrape_datetime'] = pd.to_datetime(df['scrape_datetime']).dt.floor('s')

## **2.1 Data Cleaning - Renaming and Replacing**

Some products do not have a brand assigned, but the brands can be found in the product name. We can create a function to replace NaN with the first word from the name column.

In [23]:
#Function: If 'brand' is NaN, replace it with the first word from 'name' column. Otherwise, return the original brand
def update_brand(row):
    if pd.isna(row['brand']):
       return row['name'].split()[0]
    else:
        return row['brand']
        
#Apply to each row of DataFrame
df['brand'] = df.apply(update_brand, axis=1)

Some products might not have been actual gaming mice but keyboards. Here we check whether there might be keyboards or boards in the name column.

ID 189 is actually a gaming mouse from its full name, but with a 'board' in 'Onboard'.

In [25]:
#Checking if there are other keyboards in 'name' column
df[df['name'].str.contains('keyboard|Keyboard|board')]

,name,price,rating,brand,dpi,model,hand_orientation,scrape_datetime
189,"ROCCAT Kone AIMO Remastered PC Gaming Mouse, Optical, RGB Backlit Lighting, 23 Programmable Keys, Onboard Memory, Palm Grip, Owl Eye Sensor, Ergonomic, LED Illumination, 16,000 DPI, Black",183.14,NaN,ROCCAT,NaN,ROC-11-820-BK,NaN,2024-09-17 13:36:29

Here we rename similar brands to the original spelling. For example, there are 4 instances of Cooler Master: COOLER, cooler, Cooler, Cooler Master.

In [26]:
#Rename similar brands to the original spelling
df['brand'] = df['brand'].replace({
    'COOLER': 'Cooler Master',
    'cooler': 'Cooler Master',
    'Cooler': 'Cooler Master',
    'Dell': 'DELL',
    'Roccat': 'ROCCAT',
    'roccat': 'ROCCAT',
    'Asus': 'ASUS',
    'Mad' : 'Mad Catz',
    'MAD' : 'Mad Catz',
    'The' : 'Mad Catz'
})

In [27]:
#Check for null rows
df.isnull().sum()

name                  0
price                 0
rating              105
brand                 0
dpi                  85
model                 0
hand_orientation    131
scrape_datetime       0
dtype: int64

## **2.2 Data Cleaning - Checking for Duplicates**

We check whether there are duplicate rows based on the 'name' column, and drop the duplicate IDs.

In [28]:
#Check for duplicate rows, based on 'name' column only
df[df.duplicated(subset='name')]

,name,price,rating,brand,dpi,model,hand_orientation,scrape_datetime
108,V7 Pro USB 6Button Wired Mouse Front/Back Button Adjustable DPI,30.72,3.7,V7,19000 dpi,MU300,NaN,2024-09-17 13:36:29
176,Glorious Model O Minus GOM-BLACK Matte Black Gaming Mouse,105.83,NaN,Glorious,NaN,GOM-BLACK,NaN,2024-09-17 13:36:29
199,"ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01)",135.92,NaN,ROCCAT,NaN,41802720575664,NaN,2024-09-17 13:36:29

In [29]:
#ID 107 and 108 are exactly the same product. Drop ID 108.
df[df['name'] == 'V7 Pro USB 6Button Wired Mouse Front/Back Button Adjustable DPI']

,name,price,rating,brand,dpi,model,hand_orientation,scrape_datetime
107,V7 Pro USB 6Button Wired Mouse Front/Back Button Adjustable DPI,30.72,3.7,V7,19000 dpi,MU300,NaN,2024-09-17 13:36:29
108,V7 Pro USB 6Button Wired Mouse Front/Back Button Adjustable DPI,30.72,3.7,V7,19000 dpi,MU300,NaN,2024-09-17 13:36:29

In [30]:
#ID 143 and 176 are exactly the same product. Drop ID 176.
df[df['name'] == 'Glorious Model O Minus GOM-BLACK Matte Black Gaming Mouse']

,name,price,rating,brand,dpi,model,hand_orientation,scrape_datetime
143,Glorious Model O Minus GOM-BLACK Matte Black Gaming Mouse,105.83,NaN,Glorious,NaN,GOM-BLACK,NaN,2024-09-17 13:36:29
176,Glorious Model O Minus GOM-BLACK Matte Black Gaming Mouse,105.83,NaN,Glorious,NaN,GOM-BLACK,NaN,2024-09-17 13:36:29

In [31]:
#ID 197 and 199 have the same name, but different prices and model numbers.
df[df['name'] == 'ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01)']

,name,price,rating,brand,dpi,model,hand_orientation,scrape_datetime
197,"ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01)",125.91,NaN,ROCCAT,NaN,39969967079521,NaN,2024-09-17 13:36:29
199,"ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01)",135.92,NaN,ROCCAT,NaN,41802720575664,NaN,2024-09-17 13:36:29

In [33]:
## We will rename both products with (Product 1) and (Product 2) to differentiate.
df.loc[197, 'name'] = df.loc[197, 'name'].replace('ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01)', 'ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01) (Product 1)')
df.loc[199, 'name'] = df.loc[199, 'name'].replace('ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01)', 'ROCCAT Kone XP PC Gaming Mouse with 3D AIMO RGB Lighting, 19K DPI Optical Sensor, 4D Krystal Scroll Wheel, Multi-Button Design, Wired Computer Mouse, Black, (ROC-11-420-01) (Product 2)')

## **2.3 Data Cleaning - Standardizing Format and Final Changes**

Since some IDs were dropped, we need to reset the index to make sure the IDs run in sequence again. 

We create a new ID column and set the length of the df as the index.

In [39]:
#Create a new ID column
df['id'] = range(1, len(df)+1)
df.set_index('id', inplace=True)

For non-alphanumeric columns ('name', 'brand', 'dpi', 'hand orientation'), we change the values into snake_like format for standardization and make the df easier to work with and maintain. It also avoids issues with space (like .split()) and by replacing spaces with underscores.

The adjusted columns and the non-adjusted columns are later concatenated together into the df.

In [36]:
#Change all df columns to snake_case format (except datetime column) for easier loading into database

df_columns_to_adjust = df.drop(columns=['scrape_datetime','price','rating','model'])
    
df_columns_to_adjust = df_columns_to_adjust.apply(lambda x: x.str.lower().str.replace(r'[\s\W]+', '_', regex=True))

#Concat the columns back to df, along column axis
df = pd.concat([df_columns_to_adjust, df[['scrape_datetime', 'price', 'rating', 'model']]], axis=1)

Finally, we will shift the column order into the original order when we first created the df.

In [37]:
#Shift column positions
new_column_order = ['name', 'brand', 'price', 'rating', 'dpi', 'hand_orientation', 'model', 'scrape_datetime']
df_new = df[new_column_order]

Re-confirming the data types of each df column. Do note that the scrape_datetime is in datetime64 format.

In [41]:
print(df_new.dtypes)

name                        object
brand                       object
price                       object
rating                      object
dpi                         object
hand_orientation            object
model                       object
scrape_datetime     datetime64[us]
dtype: object

## **3. Load (into PostgreSQL database)**

Using the SQLAlchemy library, we create a connection with PostgreSQL and create a custom database called 'etl' first.

The password is hidden for privacy reasons.

In [1]:
#Connect to the default `postgres` database
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='xxxxxxx',
    host='localhost',
    port=5432
)
conn.autocommit = True
cursor = conn.cursor()

#Create the `etl` database first
cursor.execute("CREATE DATABASE etl;")
conn.close()

NameError: name 'psycopg2' is not defined

We then establish another connection with psycopg2, which allows us to create a table in the etl database with the columns from the df. Table constraints such as non-negative prices are implemented to ensure that the data streamed in fulfills these check conditions and minimizes dirty data.

In [ ]:
#PostgreSQL connection string for `etl` database
connection_string = 'postgresql://postgres:xxxxxxx@localhost:5432/etl'
db = create_engine(connection_string)

#Connect to the `etl` database using psycopg2
conn1 = psycopg2.connect(
    database="etl",
    user='postgres',
    password='xxxxxxx',
    host='localhost',
    port=5432
)
conn1.autocommit = True
cursor = conn1.cursor()

#Table query with constraints added
query_etl = """
    CREATE TABLE IF NOT EXISTS etl (
        id SERIAL PRIMARY KEY,
        name TEXT NOT NULL,
        brand TEXT,
        price REAL CHECK (price >= 0),
        rating REAL CHECK (rating BETWEEN 0 and 5),
        dpi TEXT,
        hand_orientation TEXT,
        model TEXT,
        scrape_datetime TIMESTAMP
    )
"""
cursor.execute(query_etl)
conn1.commit()
conn1.close()

#Append df_new onto the etl table
df_new.to_sql('etl', db, if_exists='append', index=False)